* {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: black;
}
@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 21px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 32px;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 35px;
  }
}
@media (min-width: large-desktop) {
  body {
    font-size: 35px;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 45px;
  }
}
@media (min-width: x-large-desktop) {
  body {
    font-size: 45px;
  }
}
@media (min-width: 2048px) {
  body {
    font-size: 55px;
  }
}
@media (min-width: xx-large-desktop) {
  body {
    font-size: 55px;
  }
}
@media (min-width: 2360px) {
  body {
    font-size: 57px;
  }
}
@media (min-width: xxx-large-desktop) {
  body {
    font-size: 57px;
  }
}
@media (min-width: 2560px) {
  body {
    font-size: 61px;
  }
}
@media (min-width: xxxx-large-desktop) {
  body {
    font-size: 61px;
  }
}
@media (min-width: 2732px) {
  body {
    font-size: 71px;
  }
}
@media (min-width: xxxxx-large-desktop) {
  body {
    font-size: 71px;
  }
}
@media (min-width: 3840px) {
  body {
    font-size: 97px;
  }
}
@media (min-width: xxxxxx-large-desktop) {
  body {
    font-size: 97px;
  }
}
@media (min-width: 5120px) {
  body {
    font-size: 124px;
  }
}
@media (min-width: largest-desktop) {
  body {
    font-size: 124px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.slide {
  display: none;
}
.slide.current {
  display: block;
  position: relative;
  z-index: 0;
}

#intro-anim {
  height: 100%;
  width: 100%;
}

.names {
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 55%;
  left: 26%;
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}
@media (min-width: 992px) {
  .names {
    top: 58%;
  }
}
@media (min-width: 1200px) {
  .names {
    top: 55%;
  }
}
@media (min-width: 1600px) {
  .names {
    top: 58%;
  }
}
@media (min-width: x-large-desktop) {
  .names {
    top: 58%;
  }
}
@media (min-width: 2048px) {
  .names {
    top: 55%;
  }
}
@media (min-width: xx-large-desktop) {
  .names {
    top: 55%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.name {
  display: block;
  padding: 2px 0;
}

.questions {
  position: absolute;
  z-index: 1;
  max-width: 60%;
  display: flex;
  flex-flow: column;
  top: 50%;
  left: 26%;
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}
@media (min-width: 992px) {
  .questions {
    top: 50%;
  }
}
@media (min-width: 2048px) {
  .questions {
    top: 51%;
  }
}
@media (min-width: xx-large-desktop) {
  .questions {
    top: 51%;
  }
}

.question {
  min-height: 165px;
}
@media (min-width: 992px) {
  .question {
    min-height: 175px;
  }
}
@media (min-width: 1440px) {
  .question {
    min-height: 205px;
  }
}
@media (min-width: large-desktop) {
  .question {
    min-height: 205px;
  }
}
@media (min-width: 1600px) {
  .question {
    min-height: 240px;
  }
}
@media (min-width: x-large-desktop) {
  .question {
    min-height: 240px;
  }
}

.q-number {
  padding-top: 20px;
  text-align: right;
  font-size: 60%;
  color: #f0f6fcb3;
}
